.logo{
    width: 400px;
    height: 120px;
}
.navbar{
    display: flex;
    background-color: #D70F64;
    padding: 8px;
    justify-content:space-between;
}
.navbar a{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    padding: 10px;
}
.navbar a:hover{
    background-color: aliceblue;
    border-radius: 10px;
    
}